body{
    background-color: #212;
    color: white;
    font-family: monospace;
}

h1{
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

header{
    margin: 30px auto;

    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
}

input{
    border: 5px solid rgb(233, 20, 20);
    border-radius: 10px;
    padding: 10px;

    width: 100%;
}

button{
    width: 20%;
}

button > img{
    width: 30px;
}